Repository mapbox/mapbox-vision-android-teaser, pull requests merged in 2020-05, with the labels that each got.

#188 Add mode selection screen
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/com/mapbox/vision/teaser/MainActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/OnBackPressedListener.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/replayer/ReplayActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/replayer/ReplayModeFragment.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/replayer/SessionsAdapter.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/replayer/SessionsFragment.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/view/BaseTeaserActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/view/SafetyModeView.kt
  app/src/main/res/drawable/bcg_oval_black_radius_50.xml
  app/src/main/res/drawable/bcg_oval_blue_radius_50.xml
  app/src/main/res/drawable/ic_camera_record_session.xml
  app/src/main/res/drawable/ic_checked.xml
  app/src/main/res/drawable/ic_edit.xml
  app/src/main/res/drawable/ic_mapbox_vision_teaser.xml
  app/src/main/res/drawable/ic_not_checked.xml
  app/src/main/res/drawable/ic_replay_mode.xml
  app/src/main/res/drawable/ic_select_session.xml
  app/src/main/res/drawable/ic_trash.xml
  app/src/main/res/drawable/session_info_custom_ripple.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_recording.xml
  app/src/main/res/layout/activity_replay.xml
  app/src/main/res/layout/fragment_replay_mode.xml
  app/src/main/res/layout/row_session.xml
  app/src/main/res/layout/view_recording.xml
  app/src/main/res/layout/view_row_session.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimen.xml
  app/src/main/res/values/strings.xml
Labels: Android, Enhancement

#189 Integrate Recorder
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/com/mapbox/vision/teaser/BaseVisionActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/MainActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/ar/ArNavigationActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/models/UiSign.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/recorder/RecorderFragment.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/recorder/RecordingActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/recorder/RecordingView.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/replayer/ArReplayNavigationActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/replayer/ReplayModeFragment.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/replayer/SessionsAdapter.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/utils/RouteUtils.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/utils/classification/SignResources.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/view/BaseTeaserActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/view/FpsPerformanceView.kt
  app/src/main/res/drawable/ic_start_recording.xml
  app/src/main/res/drawable/ic_stop_record.xml
  app/src/main/res/drawable/ic_stop_recording.xml
  app/src/main/res/layout/activity_ar_map.xml
  app/src/main/res/layout/activity_recording.xml
  app/src/main/res/layout/fragment_recorder.xml
  app/src/main/res/layout/view_recording.xml
  app/src/main/res/values/strings.xml
Labels: Android, Enhancement

#190 Moved code of BaseTeaserActivity and BaseVisionActivity to MainActivity
  app/src/main/kotlin/com/mapbox/vision/teaser/BaseVisionActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/MainActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/view/BaseTeaserActivity.kt
Labels: Android, Enhancement

#192 Add route selection before Recording
  app/src/main/kotlin/com/mapbox/vision/teaser/MainActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/ar/ArMapActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/ar/ArNavigationActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/recorder/RecorderFragment.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/utils/RouteUtils.kt
Labels: Android, Enhancement

#199 Remove Vision permissions
  app/src/main/AndroidManifest.xml
Labels: Android

#200 Add check if VisionReplayManager is init in ArReplayNavigationActivity
  app/src/main/kotlin/com/mapbox/vision/teaser/replayer/ArReplayNavigationActivity.kt
Labels: Android, Bug

#204 Add postponed code improvements
  app/src/main/kotlin/com/mapbox/vision/teaser/MainActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/ar/ArNavigationActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/replayer/ArReplayNavigationActivity.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/replayer/ReplayModeFragment.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/replayer/SessionsAdapter.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/utils/FileUtils.kt
  app/src/main/kotlin/com/mapbox/vision/teaser/view/ViewUtils.kt
  app/src/main/res/drawable/seek_bar.xml
  app/src/main/res/drawable/seek_bar_thumb.xml
  app/src/main/res/values/styles.xml
  common/build.gradle
  replayer/src/main/AndroidManifest.xml
Labels: Android, Operational excellence

#207 Integrate LeakCanary
  app/build.gradle
  gradle/versions.gradle
Labels: Android, Operational excellence
